/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ==========================================================================
   Colors
   ========================================================================== */
/* line 1, ../sass/base/_layouts.scss */
html,
body {
  background-color: #171819;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  height: 100%;
  color: #333;
  font-size: 1em;
  line-height: 1.4;
}

/* line 12, ../sass/base/_layouts.scss */
.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 90%;
}

/* line 18, ../sass/base/_layouts.scss */
header {
  background: url(../img/background.jpg);
  background-size: cover;
  height: 100%;
}

/* line 24, ../sass/base/_layouts.scss */
header .container {
  display: table;
  height: 100%;
}

/* line 29, ../sass/base/_layouts.scss */
.headline {
  color: #fff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100%;
}

/* line 38, ../sass/base/_layouts.scss */
header img {
  width: 150px;
  display: block;
  margin: 1rem auto;
}

/* line 44, ../sass/base/_layouts.scss */
header .name {
  font-family: "Raleway", Arial, sans-serif;
  margin: 0 1rem;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px #333;
}

/* line 51, ../sass/base/_layouts.scss */
h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 1rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #333;
}
/* line 57, ../sass/base/_layouts.scss */
h1 .element {
  color: #21afa4;
}
/* line 60, ../sass/base/_layouts.scss */
h1 .typed-cursor {
  color: #21afa4;
  font-weight: normal;
  opacity: 1;
  -moz-animation: blink 0.7s infinite;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

/* ==========================================================================
   Animations
   ========================================================================== */
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Raleway/Raleway-Bold.ttf);
}
